<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculatorrrr</title>
    <link rel="stylesheet" href="../math.css">
    <script src="../jquery-3.5.1.slim.js"></script>
    <script src="../math.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
    <h1>Calculator</h1>
    <form id="add">
      <div class="form-group">
        <label for="add1"></label>
        <input id="add1" class="form-control" type="text" placeholder="value 1">
      </div>
      <div class="form-group">
        <label for="add2"></label>
        <input id="add2" class="form-control" type="text" placeholder="value 2">
      </div>
      <button type="submit" class="btn">Add</button>
      <br>
      <br>
    </form>
     <div id="output">
     </div>
  </div>
  </body>
</html>
